<%= form_for(task) do |task_instance| %>

  <% if task.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= task_instance.label :content, 'タスク:' %>
  <%= task_instance.text_field :content %> <br>
  
  <%= task_instance.label :status, '状態:' %>
  <%= task_instance.text_field :status %><br>
  
  <%= task_instance.submit '確定' %>
<% end %>