<h1>タスク一覧</h1>

<% if @task.any? %>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>No.</th>
        <th>タスク名</th>
        <th>状態</th>
      </tr>
    </thead>
    
    <tbody>
      <% @task.each do |task_instance| %>
        <tr>
          <td>
            <%= link_to task_instance.id, task_instance %>
          </td>
          <td>
            <%= task_instance.content %>
          </td>
          <td>
            <%= task_instance.status %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <div>
    <%= paginate @task %>
  </div>
<% end %>

<%= link_to 'タスクを追加する', new_task_path, class: "btn btn-primary" %>